* {
	font-family: Consolas, monaco, monospace;
	}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {text-decoration: none;
	color: grey;
	}
